/* Typekit fonts need @import to show up in browsers */
@import url("https://use.typekit.net/upo7xbg.css");

/* scroll to section*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400;

}

/*top title*/
#home {
    background-color: rgb(255, 236, 212);
    margin-bottom: 0;
}

/*jambotron over color*/
.bg-dark {
    background-color: rgba(0, 0, 0, .8) !important;
}

.bg-trans {
    background-color: rgba(0, 0, 0, 0);
}

/*main title*/
.doggy-title-big {
    font-family: 'Dr Sugiyama';
    font-weight: 700;
    font-size: 45px;
    font-style: normal;
    text-align: center;
    color: #bed336;
}

/*arrow pointing down*/
.arrow-down::after {
    border: 20px solid transparent;
    content: "";
    float: left;
    height: 0;
    left: calc(50% - 15px);
    position: relative;
    width: 0;

}

.arrow-danger::after {
    border-top: 20px solid #a8ff45;
}

.line-below::after {
    border-bottom: 10px solid rgba(11, 205, 226, 0.899);
    content: "";
    display: block;
    padding-top: 1.1rem;
    margin-bottom: 1rem;
    width: 6rem;
}

#nav-header {
    margin-top: -55px;
}

/*navlinks*/
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 236, 212);
    font-size: 1.5rem;
    font-family: adobe-handwriting-frank, sans-serif;

    font-weight: 1500px;

    font-style: normal;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: coral;
    font-size: 2rem;
    font-family: adobe-handwriting-frank, sans-serif;
    text-decoration: underline;
    font-weight: 1500px;

}

/*nav image*/
.navbar-brand img {
    margin-top: -5px;
    opacity: 0;
    width: 200px;
    font-size: 300px;
}

/* calling page*/
.jumbotron {
    /*   height: 380px; */
    height: 100vh;
    margin: 0;
    margin-bottom: -150px;
    padding: 0;
    background-color: rgb(7, 7, 7);
    z-index: -2;
}

#homepage-header {
    background-image: #000 url("/assets/images/dog.png") no-repeat -100px -50px fixed;
    background-size: auto 550px;
    background-repeat: no-repeat, repeat;
    height: 100vh;
    background-color: rgb(237, 127, 44);
    z-index: -1;
}

#logo-header {
    max-width: 900px;

}


:focus,
:active,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

h1,
h2 {
    font-family: "atrament-web", Impact, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.1rem;
}

/* animate image on loved dogs*/

#quicklinks img {
    margin: 10px auto;
    transition: all .7s ease;
}

#quicklinks img:hover {
    margin: 0px auto;
}